/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin-top: 0;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* header */

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top-nav .logo {
    width: 61.09px;
    padding: 30px 0;
}

.liens {
    width: 244px;
    display: flex;
    justify-content: space-between;
}

.liens a {
    position: relative;
    padding-top: 14px;
}

.liens a:hover,
a:focus {
    color: var(--main-color);
}

.liens a:hover::after,
a:focus::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
}

.headline {
    margin-bottom: 35px;
}

.headline h1 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 700;
}

.headline p {
    font-size: 16px;
    font-weight: 400;
}

header form {
    display: flex;
    margin-bottom: 35px;
}

form input[type="search"] {
    border: solid var(--main-bg-color);
    color: var(--Black, #000);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

form input[type="submit"] {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065fc);
    background: var(--Blue, #0065fc);
    padding: 15px 16px;
    color: var(--White, #fff);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.filterbar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.filterbar>p {
    margin: 0;
}

.filter>a {
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #d9d9d9);
    column-gap: 15px;
    padding: 4px 19px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
}

.filter>a:hover,
a:focus {
    background: var(--filter-bg-color);
}

.filter {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.infobar>p {
    margin: 0;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}